* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    line-height: 50px;
    background-color: rgb(15, 15, 70);
    vertical-align: middle;
}

.jumbotron {
    height: 500px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    
}

.sp-col-sz {
    color: white;
    text-transform: uppercase;
}

.avatar {
    min-width: 30%;
}

.section3 {
    height: 500px;
    background-color: rgb(51, 194, 51);
    margin: 20px 0;
}

.section4 {
    height: 400px;
    margin-bottom: 20px;
    text-align: center;
}

.section5 {
    height: 200px;
    background-color: rgb(43, 43, 199);
}

footer {
    height: 100px;
    background-color: rgb(15, 15, 48);
}