* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: rgb(15, 15, 70);
}

.jumbotron {
    height: 500px;
    background-color: aqua;
}

.sp-col-sz {
    color: white;
    text-transform: uppercase;
}
