* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(15, 15, 70);
}

.jumbotron {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #1abc9c;
}

.line {
    width: 70px;
    height: 3px;
    margin: 0 3px;
}

.sp-col-sz {
    color: white;
    text-transform: uppercase;
}

.avatar {
    width: 150px;
    min-width: 150px;
}

.card-image {
    position: relative;
    overflow: hidden;
}

.overlay {
    background-color: rgba(250, 245, 245, 0.5);
    position: absolute;
    top: 0;
    left: 11px;
    right: 11px;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.card-image:hover .overlay{
    display: flex;
    cursor: pointer;
}

.bi-plus-circle {
    font-size: 100px;
    font-weight: 900;
    color: white;
}

.section3 {
    background-color: #1abc9c;
    margin: 20px 0;
}

.section4 {
    height: 400px;
    margin-bottom: 20px;
    text-align: center;
}

.footer-top {
    background-color: #2c3e50;
}

.footer-bottom {
    background-color: rgb(15, 15, 48);
}